<!DOCTYPE html>
<html class=" js csstransforms3d">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章发布</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <!--[if lte IE 8]>
    <link href="/static/css/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body style="background: #f6f5fa;">

<!--content S-->
<div class="super-content RightMain" id="RightMain">

    <!--header-->
    <div class="superCtab">
        <div class="ctab-title clearfix"><h3>文章管理</h3>
{#            <a href="javascript:;" class="sp-column"><i class="ico-mng"></i>栏目管理</a>#}
        </div>

        <div class="ctab-Main">
            <div class="ctab-Main-title">
                <ul class="clearfix">
                    {#                    <li class="cur"><a href="{% url 'App:wz_xw' cid=foo.cid %}">新闻动态</a></li>#}
                    {% for foo in categorys %}
                        {% if forloop.counter == cid %}
                            <li class="cur"><a href="{% url 'App:wz_xw' cid=foo.cid %}">{{ foo.name }}</a></li>
                        {% else %}
                            <li><a href="{% url 'App:wz_xw' cid=foo.cid %}">{{ foo.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="ctab-Mian-cont">
                <div class="Mian-cont-btn clearfix">
                    <div class="operateBtn">
                        <a href="{% url 'App:wz_fb' %}" class="greenbtn publish">发布文章</a>
                        <a href="javascript:;" class="greenbtn add sp-add">添加分类</a>
                        {#                        <a href="javascript:;" class="greenbtn add sp-photo" id="preview">栏目图片</a>#}
                        {#                        <a href="javascript:;" class="modify sp-modify" id="sp-modify">修改</a>#}
                    </div>
                    <div class="searchBar">
                        <form action="{% url 'App:wz_xw' cid=cid %}" method="get">
                            <input type="text" id="" value="" name="search" class="form-control srhTxt"
                                   placeholder="输入标题关键字搜索">
                            <input type="submit" class="srhBtn" value="">
                        </form>
                    </div>
                </div>
                <div class="super-label clearfix">
                    <a href="#">行业新闻<em style="display: none;"></em></a><a href="#">保险常识<em style="display: none;"></em></a>
                </div>

                <div class="Mian-cont-wrap">
                    <div class="defaultTab-T">
                        <table border="0" cellspacing="0" cellpadding="0" class="defaultTable">
                            <tbody>
                            <tr>
                                <th class="t_1">文章ID</th>
                                <th class="t_2">文章标题</th>
                                <th class="t_3">发布时间</th>
                                <th class="t_4">操作</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0" class="defaultTable defaultTable2">
                        <tbody>
                        {% if atk %}
                            <tr>
                                <td class="t_1">{{ art_c.aid }}</td>
                                <td class="t_2"><a href="#">{{ art_c.title }}</a></td>
                                <td class="t_3">{{ art_c.create_time }}</td>
                                <td class="t_4">
                                    <div class="btn"><a class="Top"
                                                        href="{% url 'App:wz_xw' cid=cid page=page %}">置顶</a><a href="{% url 'App:ravise' aid=art_c.aid cid=art_c.cid.cid %}"
                                                                                                                class="modify">修改</a>
                                        <a href="{% url 'App:wz_del' cid=cid  page=page did=did  aid=art_c.aid %}"
                                           class="delete">删除</a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% for foo in pager.object_list %}

                            {#                            {% if page_len == 1 %}#}


                            <tr>
                                <td class="t_1">{{ foo.aid }}</td>
                                <td class="t_2"><a href="#">{{ foo.title }}</a></td>
                                <td class="t_3">{{ foo.create_time }}</td>
                                <td class="t_4">
                                    <div class="btn"><a class="Top"
                                                        href="{% url 'App:wz_xw' cid=cid page=page did=foo.aid %}">置顶</a><a
                                            href="{% url 'App:ravise' aid=foo.aid cid=foo.cid.cid  %}" class="modify">修改</a>
                                        <a href="{% url 'App:wz_del' aid=foo.aid cid=cid page=page did=did did=did %}"
                                           class="delete">删除</a>
                                    </div>
                                </td>
                            </tr>

                        {% empty %}
                            <td class="t_2">查询无</td>

                        {% endfor %}
                        </tbody>
                    </table>
                    <!--pages S-->
                    <div class="pageSelect">


                        <span>共 <b>{{ ca_at }}</b> 条 每页 <b>5 </b>条   {{ page }}/{{ paginator.num_pages }}</span>

                        <div class="pageWrap">
                            {% if page > 1 %}
                                <a class="pagePre" href="{% url 'App:wz_xw' cid=cid   page=page|add:-1  did=did %} "><i
                                        class="ico-pre">&nbsp;</i></a>
                            {% else %}
                                <a class="pagePre" href="{% url 'App:wz_xw'  cid=cid page=page did=did %}"><i
                                        class="ico-pre">&nbsp;</i></a>
                            {% endif %}



                            {% for foo in paginator.page_range %}
                                {#                                {% if  %}#}
                                {% if forloop.counter == page %}
                                    <a href="{% url 'App:wz_xw' cid=cid page=foo   did=did %}"
                                       class="pagenumb cur">{{ foo }}</a>
                                {% else %}
                                    <a href="{% url 'App:wz_xw' page=foo cid=cid    did=did %}"
                                       class="pagenumb ">{{ foo }}</a>
                                {% endif %}
                                {#                                {% else %}#}
                                {#                                    <a href="{% url 'App:wz_xw' cid=cid page=foo|add:-1   did=did %}"#}
                                {#                                       class="pagenumb cur">{{ foo }}</a>#}
                                {#                                {% endif %}#}
                            {% endfor %}

                            {% if page < paginator.num_pages %}
                                <a href="{% url 'App:wz_xw' page=page|add:1 cid=cid did=did %}" class="pagenext"><i
                                        class="ico-next">&nbsp;</i></a>
                            {% else %}
                                <a href="{% url 'App:wz_xw' page=paginator.num_pages cid=cid did=did %}"
                                   class="pagenext"><i
                                        class="ico-next">&nbsp;</i></a>
                            {% endif %}
                        </div>
                    </div>
                    <!--pages E-->
                </div>

            </div>
        </div>
    </div>
    <!--main-->

</div>
<!--content E-->

<!--栏目管理－修改-->
<div class="ColumnXgbox layuiBox">
    <div class="layer-title clearfix"><h2>添加分类</h2><span class="layerClose"></span></div>
    <div class="layer-content">
        <div class="aFllink clearfix"><span>修改名称：</span><input type="text" value=""></div>
        <div class="aFllink clearfix"><span>英文名称：</span><input type="text" value=""></div>
        <div class="aFlBtn"><input type="button" value="保存" class="saveBtn"></div>
    </div>
</div>


<script type="text/javascript" src="/static/js/zxxFile.js"></script>
<script>
    var params = {
        fileInput: $("#fileImage").get(0),
        upButton: $("#fileSubmit").get(0),
        url: $("#uploadForm").attr("action"),
        filter: function (files) {
            var arrFiles = [];
            for (var i = 0, file; file = files[i]; i++) {
                if (file.type.indexOf("image") == 0) {
                    if (file.size >= 512000) {
                        alert('您这张"' + file.name + '"图片大小过大，应小于500k');
                    } else {
                        arrFiles.push(file);
                    }
                } else {
                    alert('文件"' + file.name + '"不是图片。');
                }
            }
            return arrFiles;
        },
        onSelect: function (files) {
            var html = '', i = 0;
            $("#preview").html('<div class="upload_loading"></div>');
            var funAppendImage = function () {
                file = files[i];
                if (file) {
                    var reader = new FileReader()
                    reader.onload = function (e) {
                        $('.XgfileImg img').attr('src', e.target.result);
                        $('.sp-photo').addClass('cur');
                        html = html + '<div id="uploadList_' + i + '" class="upload_append_list"><p><span>' + file.name + '</span>' +
                            '<a href="javascript:" class="upload_delete" title="删除" data-index="' + i + '">删除</a>' +
                            '</div>';

                        i++;
                        funAppendImage();
                    }
                    reader.readAsDataURL(file);
                } else {
                    $("#preview").html(html);
                    if (html) {
                        //删除方法
                        $(".upload_delete").click(function () {
                            ZXXFILE.funDeleteFile(files[parseInt($(this).attr("data-index"))]);
                            $('.sp-photo').removeClass('cur').html('栏目图片');
                            return false;
                        });
                        //提交按钮显示
                        $("#fileSubmit").show();
                    } else {
                        //提交按钮隐藏
                        $("#fileSubmit").hide();
                    }
                }
            };
            funAppendImage();
        },
        onDelete: function (file) {
            $("#uploadList_" + file.index).fadeOut();
        },
        onDragOver: function () {
            $(this).addClass("upload_drag_hover");
        },
        onDragLeave: function () {
            $(this).removeClass("upload_drag_hover");
        },
        onProgress: function (file, loaded, total) {
            var eleProgress = $("#uploadProgress_" + file.index), percent = (loaded / total * 100).toFixed(2) + '%';
            eleProgress.show().html(percent);
        },
        onSuccess: function (file, response) {
            $("#uploadInf").append("<p>上传成功，图片地址是：" + response + "</p>");
        },
        onFailure: function (file) {
            $("#uploadInf").append("<p>图片" + file.name + "上传失败！</p>");
            $("#uploadImage_" + file.index).css("opacity", 0.2);
        },
        onComplete: function () {
            //提交按钮隐藏
            $("#fileSubmit").hide();
            //file控件value置空
            $("#fileImage").val("");
            $("#uploadInf").append("<p>当前图片全部上传完毕，可继续添加上传。</p>");
        }
    };
    ZXXFILE = $.extend(ZXXFILE, params);
    ZXXFILE.init();

</script>

</body>
</html>