<!DOCTYPE html>
<html class=" js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>咨询管理-通用咨询详情页</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/page.css">
	<!--[if lte IE 8]>
	<link href="/static/css/ie8.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>
	<!--[if IE]>
	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body style="background: #f6f5fa;">

	<!--content S-->
	<div class="super-content">
		<div class="superCtab">
			<div class="ctab-title zxtop-title clearfix"><h3>咨询管理</h3><a href="{% url 'App:wz_xw' %}" class="backlistBtn"><i class="ico-back"></i>返回主页</a></div>
		</div>
		<!--main-->
	</div>
	<!--content E-->
	<div class="zx-dtlMain">
		<dl>
			<dt>改编：</dt><dd>Yichr</dd>
		</dl>
		<dl>
			<dt>网址：</dt><dd>yichr.cn</dd>
		</dl>
		<dl>
			<dt>用途：</dt><dd>个人练习</dd>
		</dl>
		<dl>
			<dt>补充说明：</dt><dd>此处啥也没有</dd>
		</dl>
		<dl>
			<dt>手机：</dt><dd>186xxxxxxxx 并不是</dd>
		</dl>
		<dl>
			<dt>邮箱：</dt><dd>admin@uimaker.com 瞎写的</dd>
		</dl>
	</div>
		


</body></html>