{% extends 'common/base.html' %}
{% block styl %}
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
{% endblock styl %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Latest Posts -->
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail"><img src="/static/img/title.jpg" alt="..." class="img-fluid">
                        </div>

                        {#                       {% for _ in ord_thcate %}#}
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="category"><a href="#">LPL</a><a href="#">CHINA</a></div>
                            </div>
                            <h1>{{ art[0][0].title }}<a href="#"><i
                                    class="fa fa-bookmark-o"></i></a></h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                                                                                          class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="/static/img/lolt.png" alt="..." class="img-fluid">
                                </div>
                                <div class="title"><span>John Doe</span></div>
                            </a>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="date"><i class="icon-clock"></i>{{ art[0][0].creat_time }}</div>
                                    <div class="views"><i class="icon-eye"></i> {{ art[0][0].hits }}</div>
                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                </div>
                            </div>
                            <div class="post-body">
                                <p class="lead">{{ art[0][0].content }}</p>
                                <p><img src="{{ art[0][0].picture }}" alt="..." class="img-fluid"></p>
                                {#                        {% endfor %}#}
                                <blockquote class="blockquote">
                                    <p>{{ art[0][0].content }}</p>
                                    <footer class="blockquote-footer">Someone famous in
                                        <cite title="Source Title">Source Title</cite>
                                    </footer>
                                </blockquote>
                            </div>

                            {#                            {% endfor %}#}
                            <div class="post-tags"><a href="{{ url_for('jk.blog') }}"
                                                      class="tag">#{{ cates[4].name }}</a></div>
                            <div class="post-tags"><a href="{{ url_for('jk.blog') }}"
                                                      class="tag">#{{ art[0][1].name }}</a></div>
                            {#                               <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#"#}
                            {#                                                                                           class="tag">#Tricks</a><a#}
                            {#                                    href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>#}


                            <div class="post-comments">

                                <header>
                                    <h3 class="h6">热评<span class="no-of-comments">(3)</span></h3>
                                </header>
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="/static/img/user.svg" alt="..."
                                                                    class="img-fluid rounded-circle"></div>
                                            <div class="title"><strong>the 帅小可爱</strong><span class="date">2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>别问问就是shy吹</p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="/static/img/user.svg" alt="..."
                                                                    class="img-fluid rounded-circle"></div>
                                            <div class="title"><strong>我的E生只有E，哈塞</strong><span
                                                    class="date">2019</span></div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>ig牛皮！！中国牛皮！！！！！！</p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="/static/img/user.svg" alt="..."
                                                                    class="img-fluid rounded-circle"></div>
                                            <div class="title"><strong>某不知名战队</strong><span
                                                    class="date">2020</span></div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>来俺们战队不</p>
                                    </div>
                                </div>
                            </div>
                            <div class="add-comment">
                                <header>
                                    <h3 class="h6">匿名评论</h3>
                                </header>
                                <form action="" class="commenting-form" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <input type="text" name="username" id="username" placeholder="Name"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" name="username" id="useremail"
                                                   placeholder="Email Address (will not be published)"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea name="usercomment" id="usercomment"
                                                      placeholder="Type your comment" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="submit" class="btn btn-secondary" id="info">提交</button>
                                        </div>
                                        <script>


                                            toastr.options = {
                                                "closeButton": false,
                                                "debug": false,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-top-full-width",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"}
                                            ;

                                            $("#info").click(function () {

                                                toastr.success("提交成功");

                                            })
                                        </script>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <aside class="col-lg-4">
                <!-- Widget [Search Bar Widget]-->
                <div class="widget search">
                    <header>
                        <h3 class="h6">查找俱乐部</h3>
                    </header>
                    <form action="{{ url_for('jk.blog') }}" class="search-form" method="post">
                        <div class="form-group">
                            <input type="search" placeholder="你要找什么?" name="meg">
                            <button type="submit" class="submit"><i class="icon-search"></i></button>
                            <div class="form-group">
                                {% for message in get_flashed_messages() %}
                                    <div id="info">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Widget [Latest Posts Widget]        -->
                <div class="widget latest-posts">
                    <header>
                        <h3 class="h6">Latest Posts</h3>
                    </header>
                    <div class="blog-posts">
                        {% for _ in ord_thcate %}
                            <a href="{{ url_for('jk.cont', id = _.aid) }}">
                                <div class="item d-flex align-items-center">
                                    <div class="image"><img src="{{ _.picture }}" alt="..." class="img-fluid">
                                    </div>
                                    <div class="title"><strong>{{ _.title }}</strong>
                                        <div class="d-flex align-items-center">
                                            <div class="views"><i class="icon-eye"></i> 500</div>
                                            <div class="comments"><i class="icon-comment"></i>12</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header>
                        <h3 class="h6">Club Message</h3>
                    </header>
                    {% for i  in cates %}
                        <div class="item d-flex justify-content-between"><a
                                href="{{ url_for('jk.blog' ,cid = i.cid ) }}">{{ i.name }}</a><span>{{ i.num }}</span>
                        </div>
                    {% endfor %}
                </div>
                <!-- Widget [Tags Cloud Widget]-->
                <div class="widget tags">
                    <header>
                        <h3 class="h6">Tags</h3>
                    </header>
                    {% for _ in range(0,cate_len,2) %}
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="tag">#{{ cates[_].name }}</a></li>
                            {% if _ < cate_len - 1 %}
                                <li class="list-inline-item"><a href="#" class="tag">#{{ cates[_+1].name }}</a></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}