{% extends 'common/base.html' %}


{% block styl %}
    <style>
        li {
            list-style-type: none;
        }
    </style>
{% endblock styl %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Latest Posts -->
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail"><img src="/static/img/time.jpg" alt="..." class="img-fluid">
                        </div>

                        {% for _ in  pagination.items %}
                            <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
                            </div>
                            <h1>{{ _.title }}<a href="#"><i
                                    class="fa fa-bookmark-o"></i></a></h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                                                                                          class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="/static/img/avatar-1.jpg" alt="..." class="img-fluid">
                                </div>
                                <div class="title"><span>John Doe</span></div>
                            </a>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="date"><i class="icon-clock"></i> {{ _.create_time }}</div>
                                    <div class="views"><i class="icon-eye"></i> {{ _.hits }}</div>
                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                </div>
                            </div>
                            <div class="post-body">
                            <p class="lead">{{ _.content }}</p>
                            <p><img src="{{ _.picture }}" alt="..." class="img-fluid"></p>
                            <p>{{ _.content }}</p>
                        {% endfor %}

                        {#                            {% endfor %}#}
                        {#                            <div class="post-tags"><a href="{{ url_for('jk.blog') }}" class="tag">#{{ art[0][1].name}}</a></div>#}
                        {#                               <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#"#}
                        {#                                                                                           class="tag">#Tricks</a><a#}
                        {#                                    href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>#}


                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            {% if pagination.page == 1 %}
                                <a href="#" class="prev-post text-left d-flex align-items-center">
                                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="text"><strong class="text-primary">Previous Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{{ url_for('jk.post',page=pagination.prev_num) }}"
                                   class="prev-post text-left d-flex align-items-center">
                                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="text"><strong class="text-primary">Previous Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                </a>
                            {% endif %}

                            {% for current in pagination.page_range %}
                                {% if current == pagination.page %}
                                    <li class="active"><a
                                            href="{{ url_for('jk.post',page=current) }}">{{ current }} <span
                                            class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li><a href="{{ url_for('jk.post',page=current) }}">{{ current }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if pagination.page == pagination.pages %}
                                <a href="#"
                                   class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text"><strong class="text-primary">Next Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right"> </i></div>
                                </a>
                            {% else %}
                                <a href="{{ url_for('jk.post',page=pagination.next_num) }}"
                                   class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text"><strong class="text-primary">Next Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right"> </i></div>
                                </a>
                            {% endif %}

                        </div>


                        </div>
                        </div>
                    </div>
            </main>
            <aside class="col-lg-4">
                <!-- Widget [Search Bar Widget]-->
                <div class="widget search">
                    <header>
                        <h3 class="h6">查找俱乐部</h3>
                    </header>
                    <form action="{{ url_for('jk.blog') }}" class="search-form" method="post">
                        <div class="form-group">
                            <input type="search" placeholder="你要找什么?" name="meg">
                            <button type="submit" class="submit"><i class="icon-search"></i></button>
                            <div class="form-group">
                                {% for message in get_flashed_messages() %}
                                    <div id="info">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Widget [Latest Posts Widget]        -->
                <div class="widget latest-posts">
                    <header>
                        <h3 class="h6">Latest Posts</h3>
                    </header>
                    <div class="blog-posts">
                        {% for _ in ord_thcate %}
                            <a href="{{ url_for('jk.post', id = _.aid) }}">
                                <div class="item d-flex align-items-center">
                                    <div class="image"><img src="{{ _.picture }}" alt="..." class="img-fluid">
                                    </div>
                                    <div class="title"><strong>{{ _.title }}</strong>
                                        <div class="d-flex align-items-center">
                                            <div class="views"><i class="icon-eye"></i> 500</div>
                                            <div class="comments"><i class="icon-comment"></i>12</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header>
                        <h3 class="h6">Club Message</h3>
                    </header>
                    {% for i  in cates %}
                        <div class="item d-flex justify-content-between"><a
                                href="{{ url_for('jk.blog' ,cid = i.cid ) }}">{{ i.name }}</a><span>{{ i.num }}</span>
                        </div>
                    {% endfor %}
                </div>
                <!-- Widget [Tags Cloud Widget]-->
                <div class="widget tags">
                    <header>
                        <h3 class="h6">Tags</h3>
                    </header>
                    {% for _ in range(0,cate_len,2) %}
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="tag">#{{ cates[_].name }}</a></li>
                            {% if _ < cate_len - 1 %}
                                <li class="list-inline-item"><a href="#" class="tag">#{{ cates[_+1].name }}</a></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}